.footer {
    background-color: var(--second-color);
    color: var(--black);
    padding: 20px;
    text-align: center;
    font-size: 1em;
    position: relative;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    display: block;
    color: inherit;
    margin: 0 auto;
    padding: 5px 20px;
}

/*.footer a:hover {*/
/*    background-color: gray;*/
/*}*/

@media (max-width: 980px) {
    .footer {
        font-size: 0.7em;
    }
}