.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    position: relative;
    color: var(--black);
}

.header {
    display: flex;
}

.header h2 {
    margin-left: 20px;
}

.menuLogo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    position: relative;
    margin-left: 20px;
    display: none;
    cursor: pointer;
    transition: all 0.2s;
}

.menu {
    display: flex;
    align-items: center;
}

.btnMenu {
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--black);
}

.btnMenu:hover {
    background: var(--third-color);
    color: var(--main-color);
}

.mobileMenu {
    display: none;
}

.btnMenuMobile {
    cursor: pointer;
    background-color: var(--second-color);
    text-align: left;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}

.btnMenuMobile:hover {
    background: var(--third-color);
    color: var(--main-color);
}

.active {
    display: block;
}

.checkbox_navbar {
    display: none;
}

.checkbox_navbar + label {
    position: relative;
    padding-left: 70px;
    height: 1.5em;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    margin: 0 10px 0 10px;
}

.checkbox_navbar + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.checkbox_navbar + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: var(--third-color);
    transition: transform 0.2s;
}

.checkbox_navbar:checked + label:after {
    transform: translateX(30px);
}

#tempo {
    width: 300px;
}

.separator {
    height: 30px;
    border: 1px solid var(--third-color);
}

@media (max-width: 820px) {
    .menuLogo {
        display: block;
    }

    .btnMenu {
        display: none;
    }

    #tempo {
        width: 200px;
    }

    .separator {
        display: none;
    }
}