midi-player {
    display: block;
    width: inherit;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1000px;
}

midi-player::part(control-panel) {
    background: var(--second-color);
    border-radius: var(--border-radius);
}

midi-player::part(play-button) {
    background: var(--third-color);
    color: var(--main-color);
    border-radius: var(--border-radius);
}

midi-player::part(play-button):hover {
    opacity: 0.8;
}

midi-player::part(time) {
    color: var(--black);
}

midi-visualizer {
    text-align: left;
    width: inherit;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1000px;
    position: relative;
}

midi-visualizer[type = 'staff'] {
    left: 47px;
}

midi-visualizer[type = 'staff'] svg rect {
    fill: var(--main-color);
}

midi-visualizer[type = 'staff'] svg path {
    opacity: 1;
}

.staff-visualizer div svg:first-child {
    left: -94px;
}