html, body {
    text-align: center;
    margin: 0;
    transition: all 0.2s;
    position: relative;
    background-color: var(--main-color);
    color: var(--black);
    font-family: CyrillicOld;
}

h3 {
    margin: 20px;
}

#textMelody {
    text-align: left;
    margin: 0 30px;
    text-indent: 20px;
}

.flex {
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: center;
    margin: 0 auto;
}

.btn {
    height: 20px;
    width: 100px;
    min-width: 100px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: all 0.2s;
    margin: 5px;
    padding: 10px 20px;
    line-height: 20px;
    color: var(--black);
    background-color: var(--second-color);
}

.btn_big {
    width: 150px;
}

.btn_mini {
    width: 10px;
    padding-inline: 15px;
    min-width: unset;
}

.btn:hover {
    background: var(--third-color);
    color: var(--main-color);
}

.not-active {
    opacity: 0;
    pointer-events: none;
}

.off {
    opacity: 0.4;
    pointer-events: none;
}

.keyChoise {
    background-color: var(--third-color);
    color: var(--main-color);
}

.divcheck {
    width: 150px;
    /*margin: 0 auto;*/
}

.parts {
    display: flex;
    justify-content: center;
    /*align-items: stretch;*/
}

.checkbox {
    display: none;
}

.resetTempo {
    height: 25px;
    padding: 0 5px;
    margin: 15px 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
    background-color: var(--second-color);
    border-radius: 5px;
}

.resetTempo:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}

.volumes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
}

.resets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
}

.resets div {
    padding: 0 5px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
    background-color: var(--second-color);
    border-radius: 5px;
}

.resets div:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}

.resets div:active {
    opacity: 0.7;
}

.checkbox + label {
    position: relative;
    padding-left: 70px;
    height: 1.5em;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    margin: 5px 0;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 30px;
    background-color: var(--second-color);
    border-radius: 5px;
    cursor: pointer;
}

.checkbox + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: var(--third-color);
    opacity: 0.6;
    transition: transform 0.2s;
}

.checkbox:checked + label:after {
    transform: translateX(30px);
    opacity: 1;
}